@media screen and (min-width: 320px) {
  .tab {
    overflow: hidden;
    width: fit-content;
    display: flex;
    margin: auto;
  }

  .tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 17px;
    background-color: $color-primary;
    color: #fff;
    &:hover {
      background-color: $color-secondary;
    }
    &.active {
      background-color: #fff;
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  }

  .tabcontent {
    display: none;
    padding: 6px 0;
    border: none;

    menu-list {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      row-gap: 30px;

      menu-item {
        .image-wrapper {
          overflow: hidden;
          img {
            min-height: 150px;
            border-radius: 25px;
            display: block;
            margin: auto;
            object-fit: cover;
            filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          }
        }
        .menu-item-title {
          font-weight: 600;
          font-size: 14px;
          line-height: 30px;
          color: $text-dark;
          text-transform: capitalize;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .tabcontent {
    menu-list {
      grid-template-columns: repeat(4, 1fr);

      menu-item {
        .image-wrapper {
          img {
            width: 100%;
            min-height: 180px;
            background-color: gainsboro;
          }
        }
        .menu-item-title {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .tabcontent {
    menu-list {
      grid-template-columns: repeat(5, 1fr);

      menu-item {
        .image-wrapper {
          img {
            width: 100%;
            min-height: 200px;
            background-color: gainsboro;
          }
        }
        .menu-item-title {
          font-size: 18px;
        }
      }
    }
  }
}
