@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import "./utils";
@import "./components/header/header";
@import "./components/main/main";
@import "./components/footer/footer";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;

  a,
  ul li {
    text-decoration: none;
    color: $text-dark;
  }
  ul,
  ul li {
    list-style: none;
  }
}

@media screen and (min-width: 320px) {
  .container {
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 83px;
  }
}
